.input {
    margin: 5px;
}

#calTitle {
    text-align: center;
}

.inputBox {
    margin: 10px;
}

#addEmployeeButton {
    margin: 5px;
}

.expense {
    text-align: right;
    margin-right: 45px;
}
